*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 16px;
  font-family: 'Helvetica', sans-serif;
  background-color: rgb(44, 44, 44);
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
header{
  background-color: rgb(60, 60, 60);
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.nav{
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  max-width: 968px;
  margin: 0 auto;
  padding: 0 1rem;
}
.logo{
  color: rgba(255, 255, 255, 0.919);
}
.nav__list{
  display: flex;
  column-gap: 3rem;
  align-items: center;
}
.nav__link{
  color: rgba(255, 255, 255, 0.923);
}
.dropdown{
  padding: 0.3em 0;
}
.dropdown__container{
  display: none;
}
.dropdown__container.active{
  display: block;
}
.dropdown:hover .dropdown__container{
  display: block;
}
.nav__menu{
  color: rgba(255, 255, 255, 0.907);
  font-size: 1.8em;
  display: none;
}
@media screen and (max-width: 968px) {
  .nav__list{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(60, 60, 60);
    box-shadow: 0 0 20px rgb(0,0,0,0.5);
    border-radius: 8px;
    padding: 1.5em;
    text-align: center;
    width: 200px;
    display: none;
  }
  .nav__menu{
    display: block;
  }
  .dropdown__menu{
    padding: 1em 1.5em; 
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    margin-top: 1rem;
    background-color: rgb(90, 90, 90);
    border-radius: 8px;
  }
}
/* hierarchy */
.show-menu{
  display: block;
}
@media screen and (min-width: 968px) {
  .dropdown{
    padding: 1.5em 0;
  }
  .dropdown__menu{
    position: absolute;
    top: 4rem;
    /* margin-left: -50px; */
    background-color: rgb(60, 60, 60);
    padding: 1em 1.5em; 
  }
}


